*{
    margin: 0;
    padding: 0;

}

header{
    display: flex;
    justify-content: space-around;
}

body{
    background-color: #66997b;
    height: 100vh;
    color: white
}
.video{
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
a{
    
    color: white;
}